@media screen and (max-width: 480px){

.projectPanel{
  font-size: 24px;
}
#footer ul{
  display: flex;
  flex-direction: row;
  width:100%;
}
}

@media screen and (min-width: 480px) and (max-width: 768px){

  #footer ul{
    display: flex;
    flex-direction: row;
    width:100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 980px){

  #footer ul{
    display: flex;
    flex-direction: row;
    width:100%;
  }
}
